@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
    --nice-font: "Dancing Script", cursive;
    --body-font: 'Poppins', sans-serif;

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    font-family: var(--body-font);
}
img{
    max-width: 100%;
    height: auto;
}
button{
    cursor: pointer;
    font-family: var(--body-font);
    text-decoration: none;
    background: none;

}
button, input{
    border: none;
    outline: none;
}
h1{
    color: white;
}
h1, h3{
    font-size: 2em;
    text-align: center;
    font-family: var(--nice-font);
    font-weight: bolder;
    
}
h1 > span {
    color: rgba(212, 194, 200, 0.7); 
    font-size: 40px;
    font-weight: bolder;
}
.home{  
        background: url('bckg.jpg');
        background-size: cover;
        height: 100vh;
        position: static;
    }
    .nav__logo{
        position: relative;
        left: 100px;
        width: 70px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(58, 1, 19, 0.7); 
        text-align: center;
        box-shadow: 0 5px 10px rgba(240, 232, 232, 0.5);
        opacity: 0;
        z-index: 1;
    }
    .nav__logo-text{
        font-family: var(--nice-font);
        font-size: 1.5rem;
        color: white;
        font-weight: bold;
        line-height: 40px;
        
    }
    .text1:hover .nav__logo {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }
    
    .text, .nav__logo:hover {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }
    .text2:hover .nav__logoo {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }
    
    .text, .nav__logoo:hover {
        transition: opacity 1s ease-in-out;
        opacity: 1;
    }
    .nav__logoo{
        position: relative;
        left: 55px;
        width: 70px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(58, 1, 19, 0.7); 
        text-align: center;
        box-shadow: 0 5px 10px rgba(240, 232, 232, 0.5);
         opacity: 0;
        z-index: 1;
    }
    .nav__logoo-text{
       font-family: var(--nice-font);
        font-size: 1.5rem;
        color: white;
        font-weight: bold;
        line-height: 40px;
    }
  
    .name, .logo{
        display: inline-block;
    }
    .text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name{
            margin-left: 70px;
    }
    


        /* ---------------------------CONTAINER---------------------- */


        
.container{
    margin-top: 15px;
    display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 1em;   
}


.container__inside {
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid white;
    height: 150px;
    width: 100%;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    overflow: hidden; 
    transition: background-color 0.5s, opacity 0.5s;
}

.container__inside:hover {
    background-color: rgba(58, 1, 19, 0.7); 
    transform: translateY(-5px);
    transition:  0.5s ;
}

.container__inside:hover .enter{
    color: white; 
    font-size: 35px;
    transition: 1.3s ease-in-out;
}

.enter {
    color: rgba(212, 194, 200, 0.7); 
    font-size: 30px;
    position: absolute; 
    z-index: 1;
    transition: color 0.5s; 
    text-align: center;
}


/* --------------------MODALAI--------------------------- */



*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 1s ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 1000;
    background-color: rgba(212, 194, 200, 1); 
    width: 90%;
    height: 90%;
    max-width: 90%;
    max-height: 90%;   
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color:rgba(58, 1, 19, 1); 
    color: white;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;

}
/* 
.modal-body {
    padding: 10px 15px;
    position: relative;
} */
.modal-body {
    padding: 10px 15px;
    position: relative;
    overflow: hidden; /* Užtikrinti, kad turinys neišeitų už modal-body ribų */
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px); /* Aukštis su rezervu, kad tilptų modal-header */
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 0.5s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    z-index: 500;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


/* -------------------------GALERIJA SLIDE SHOW------------------------------- */


.slider {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.list {
    position: absolute;
    display: flex;
    transition: left 1s ease-in-out;
    height: 100%;
    width: 500%; /* Adjust this according to the number of images */
    left: 0;
}

.list .item {
    flex: 1 0 20%; /* Adjust this according to the number of images */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.list .item img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Užtikrina, kad visas vaizdas tilptų ir nebūtų apkarpytas */
}

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(58, 1, 19, 1); 
    color: rgba(212, 194, 200, 1); 
    border: 1px solid white;
    
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2em;

}
.dots {
    position: absolute;
    bottom: 10px;
    color: rgba(58, 1, 19, 1); 
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li {
    list-style: none;
    width: 15px;
    height: 15px;
    background-color: rgba(58, 1, 19, 1); 
    margin: 10px;
    border-radius: 50%; 
    border: 1px solid white;
    transition: width 0.5s ease-in-out;
}

.dots li.active {
    width: 30px; 
}

@keyframes slide {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}



/* --------------------------------PASIULYMAI-------------------------------- */



.offers{
    max-width: 90%;
    min-width: 90%;
    font-family: var(--nice-font);
}
.offer p {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  .flavor.extra1{
    width: 45%;
  }
  .price.extra2{
    width: 55%;
  }
  .flavor.extra3{
    width: 30%;
  }
  .price.extra4{
    width: 70%;
  }
hr{
    height: 2px;
    border:rgba(58, 1, 19, 1) solid 1px;
}
img{
    
        width: 50%;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -35px;
        margin-bottom: 15px;
        mix-blend-mode: multiply;
      }

      
/* -----------------------------DARBU SLIDE SHOW------------------------------ */
 #slider {
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
    text-align: center;
}
#slider input[type=radio]{
    display: none;
}
#slider label {
    cursor: pointer;
    text-decoration: none;
}
#slides{
    padding: 10px;
    border: 3px solid black;
    background: #fff;
    position: relative;
    z-index: 1;
    min-width: 80%;        
    min-height: 300px;      
}
#overflow{
    width: 100%;
    overflow: hidden;
}
#slide1:checked ~ #slides .inner{
    margin-left: 0;
}
#slide2:checked ~ #slides .inner{
    margin-left: -100%;
}
#slide3:checked ~ #slides .inner{
    margin-left: -200%;
}
#slide4:checked ~ #slides .inner{
    margin-left: -300%;
}
#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px; 
}
#slides .slide{
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    position: relative; 
}
#slides .slide_1{
    background: url(image/galerija/motormax.jpg) center center no-repeat;
    background-size: contain;
    background-color: rgba(58, 1, 19, 1);
    z-index: 1; 
}
#slides .slide_2, 
#slides .slide_3, 
#slides .slide_4 {
    z-index: 1; 
}
#slides .slide_2{
    background: #003459;
}
#slides .slide_3{
    background: #007EA7;
}
#slides .slide_4{
    background: #00A8E8;
} 
#slides .slide_1 .projects {
    display: block;
}

#slides .slide:not(.slide_1) .projects {
    display: none;
}

.slide{
    position: static;
}
.projects{
    position: absolute;
   bottom: 20px;
   left: 42%;
    color: white;
    font-size: 20px;
}
.projects:hover{
    font-size: 21px;
    transition: 1s ease-in-out;
}
#controls{
    margin: -40px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative; 
}
#controls label{
    transition: opacity 0.2s ease-out;
    display:none;
    width: 50px;
    height: 50px;
    opacity: 4;
}
#controls label:hover {
    opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
     background: url(https://cdn-icons-png.flaticon.com/512/271/271228.png) no-repeat;  
    float: right;
    margin: 0 -50px 0 0;
    display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1){
      background: url(https://cdn-icons-png.flaticon.com/512/271/271220.png) no-repeat;  
    float: left;
    margin: 0 0 0 -50px;
    display: block;
}
#bullets {
    margin:  0;
    text-align: center;
}
#bullets label{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: black;
    margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4){
background: #444;
}
@media screen and (max-width: 900px){
    #slide1:checked ~ #controls label:nth-child(2)
    #slide1:checked ~ #controls label:nth-child(3)
    #slide1:checked ~ #controls label:nth-child(4)
    #slide1:checked ~ #controls label:nth-child(1)
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1){
margin: 0;
    }
}







@media screen and (max-width: 768px) {
   
    .container{
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }
    .offer p {  
        font-size: 25px;
      }

}

@media(max-width: 600px) {
   
    .logo{
        display: none;
    }
    .name{
        margin-left: 0;
}
.offer p {  
    font-size: 20px;
  }
}
